body {
	height: 100%;
	margin: 0 auto;
	padding: 0px;
	}

img {
	width: 90%;
	margin: 0 5%;
	}

button {
	margin-left: 7%;
	margin-top: 2%;
	width: 10%;
	min-width: 120px;
	height: auto;
	position: fixed;
	display: block;
	border-radius: 70px;
	background: #fff;
    box-shadow: inset 1px 1px 4px 2px #959595;
    z-index: 5;
	}

a {
	width: 100%;
	height: auto;
	text-decoration: none;
	display: block;
	color: #ea6229;
	text-align: center;
	padding: 5% 0;
	font-size: 150%;
	border-radius: 70px;
	font-weight: bold;
	}
